{% extends 'base.html.twig' %}

{% block body %}

    <div class="admin-main container">
        <div class="jumbotron">
            <h2 class="display-3">{{ "SUBJECT_LIST"|trans }} - {{ fieldOfStudy.name }}</h2>
            <p class="lead">{{ "CHOOSE_THE_ACTION_YOU_WANT_TO_TAKE"|trans }}</p>
            <a href="{{ path('subject_home_list_pdf', {'fieldOfStudy': fieldOfStudy.id}) }}">{{ 'GENERATE_PDF'|trans }}</a>
            <hr class="my-4">
            {% for semester in fieldOfStudy.semesters %}
                <h3>{{ 'SEMESTER' }}: {{ semester.yearOfStudy }}</h3>

                <div class="table-responsive">
                    <table class="admin-main__table-show table table-stripped">
                        <thead class="admin-main__table-head thead-dark">
                        <tr>
                            <th>{{ "ID"|trans }}</th>
                            <th>{{ "NAME"|trans }}</th>
                            <th>{{ "CODE"|trans }}</th>
                            <th>{{ 'LECTURER'|trans }}</th>
                            <th>{{ 'EXERCISES'|trans }}</th>
                            <th>{{ 'LABORATORIES'|trans }}</th>
                            <th>{{ 'EXERCISES_LABORATORIES'|trans }}</th>
                            <th>{{ 'OWN_WORK'|trans }}</th>
                            <th>{{ 'SUM'|trans }}</th>
                            <th>{{ 'ECTS'|trans }}</th>
                            <th>{{ 'EXAM'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody class="admin-main__table-body">
                        {% for subject in semester.subjects %}
                            {% if(semester.fieldOfStudy) %}
                                {% if semester.fieldOfStudy.id == fieldOfStudy.id %}
                            <tr>
                                <td><a href="{{ path('subject_detail_show', { 'id': subject.id }) }}">{{ subject.id }}</a></td>
                                <td><a href="{{ path('subject_detail_show', { 'id': subject.id }) }}">{{ subject.name }}</a></td>
                                <td><a href="{{ path('subject_detail_show', { 'id': subject.id }) }}">{{ subject.code }}</a></td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.lecture }}{% endif %}</td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.exercises }}{% endif %}</td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.laboratories }}{% endif %}</td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.exercisesLaboratories }}{% endif %}</td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.ownWork }}{% endif %}</td>
                                <td>{% if subject.numberOfHours %}{{ subject.numberOfHours.sum }}{% endif %}</td>
                                <td>{% if subject.additionalField %}{{ subject.additionalField.ECTS }}{% endif %}</td>
                                <td>{% if subject.additionalField %}{{ subject.additionalField.exam }}{% endif %}</td>
                            </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
