{% extends 'base.html.twig' %}

{% block body %}

<div class="admin-main container">
    <div class="jumbotron">
        <h2 class="display-3">{{ "SUBJECT_LIST"|trans }}</h2>
        <p class="lead">{{ "CHOOSE_THE_ACTION_YOU_WANT_TO_TAKE"|trans }}</p>
    <hr class="my-4">

    <div class="table-responsive">
        <table class="admin-main__table-show table table-stripped">
            <thead class="admin-main__table-head thead-dark">
                <tr>
                    <th>{{ "ID"|trans }}</th>
                    <th>{{ "NAME"|trans }}</th>
                <!--    <th>{{ "SEMESTER"|trans }}</th> -->
                    <th>{{ "DESCRIPTION"|trans }}</th>
                    <th>{{ "ACTIONS"|trans }}</th>
                </tr>
            </thead>
            <tbody class="admin-main__table-body">
            {% for subject in subjects %}
                <tr>
                    <td><a href="{{ path('subject_show', { 'id': subject.id }) }}">{{ subject.id }}</a></td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.code }}</td>
                    <td class="icons">
                        <a href="{{ path('subject_show', { 'id': subject.id }) }}">
                            <i class="fa fa-eye icon icon__show" aria-hidden="true"></i>
                        </a>
                                
                        <a href="{{ path('subject_edit', { 'id': subject.id }) }}">
                            <i class="fa fa-pencil-square-o icon icon__edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button button__right">
        <a href="{{ path('subject_new') }}" class="btn btn-primary" role="CREATE">{{ "CREATE_A_NEW_SUBCJECT"|trans }}</a>
    </div>

    </div>
</div>
{% endblock body %}
