{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin-main container">

        <div class="jumbotron">
            <h2 class="display-4">{{ "YEAR_EDIT"|trans }}</h2>
            <hr class="my-4">

            {{ form_start(edit_form) }}

            {{ form_row(edit_form.year) }}
            <div class="button button__row-list button__right">

                <input type="submit" class="btn btn-primary" value="Edit" />
                {{ form_end(edit_form) }}

                <a href="{{ path('year_index') }}" class="btn btn-dark" >{{ "BACK_TO_THE_LIST"|trans }}</a>

                {#{{ form_start(delete_form) }}#}
                {#<input type="submit" class="btn btn-danger" value="Delete">#}
                {#{{ form_end(delete_form) }}#}
            </div>

        </div>
    </div>
{% endblock %}
