
<footer>
	<div class="footer bg-dark">
		<div class="container footer__container">
			<p class="footer__text">Projekt inżynierski 2018</p>

			{#<div class="col-md-3 footer__col">#}

				{#<span class="footer__table-title">{{ "LINK"|trans }}:</span>#}

				{#<ul class="footer__table-item">#}
					{#<li><a href="https://usosweb.amu.edu.pl/kontroler.php?_action=actionx:news/default()">{{ "USOS"|trans }}</a></li>#}
					{#<li><a href="">{{ "OLAT"|trans }}</a></li>#}
					{#<li><a href="">{{ "FACULTY_PAGE"|trans }}</a></li>#}
					{#<li><a href="">{{ "COLLEGE_WEBSITE"|trans }}</a></li>#}
				{#</ul>#}
				{##}
			{#</div>#}

			{#<div class="col-md-3 footer__col">#}

				{#<span class="footer__table-title">{{ "AUTHORS"|trans }}:</span>#}

					{#<ul class="footer__table-item">#}
						{#<li>Dawid Rogozik</li>#}
						{#<li>Błażej Kmieć</li>#}
						{#<li>Michał Sobolewski</li>#}
						{#<li>Dariusz Tyczyński</li>#}
						{#<li>Dawid Kluczyk</li>#}
						{#<li>Alicja Wierzbicka</li>#}
					{#</ul>#}
				{##}
			{#</div>#}

			{#<div class="col-md-3 footer__col">#}

				{#<span class="footer__table-title">{{ "CONTACT"|trans }}:</span>#}

					{#<ul class="footer__table-item">#}
						{#<li>ul. Umultowska 87</li>#}
						{#<li>614-61 Poznań</li>#}
						{#<li>tel 530-861-829</li>#}
						{#<li>fax 531-561-829</li>#}
						{#<li>e-mail: wmiuam@amu.edu.pl</li>#}
					{#</ul>#}
				{##}
			{#</div>#}

			{#<div class="col-md-3 footer__cols">#}

				{#<div class="footer__map">#}
					{#<img class="img-responsive" src="{{ asset('bundles/app/img/lupa.png') }}" />#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
		</div>
	</div>
</footer>
