{% extends 'base.html.twig' %}

{% block body %}

<div class="admin-main container">

    <div class="jumbotron">

        <h2 class="display-3">{{ "USER_LIST"|trans }}</h2>
        <p class="lead">{{ "CHOOSE_THE_ACTION_YOU_WANT_TO_TAKE"|trans }}</p>
        <hr class="my-4">

        <div class="table-responsive">
            <table class="admin-main__table-show table table-stripped">      
                <thead class="admin-main__table-head thead-dark">
                    <tr>
                        <th>{{ "ID"|trans }}</th>
                        <th>{{ "NAME"|trans }}</th>
                        <th>{{ "SURNAME"|trans }}</th>
                        <th>{{ "ACTIONS"|trans }}</th>
                    </tr>
                </thead>
                <tbody class="admin-main__table-body">
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        
                        <td class="icons">
                            <a href="{{ path('user_show', { 'id': user.id }) }}">
                                <i class="fa fa-eye icon icon__show" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">
                                <i class="fa fa-pencil-square-o icon icon__edit" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="button button__right">
            <a href="{{ path('user_new') }}" class="btn btn-primary" role="CREATE">{{ "CREATE_A_NEW_USER"|trans }}</a>
        </div>
    </div>
</div>
{% endblock body %}
