{% extends 'base.html.twig' %}

{% block body %}

<div class="admin-main container">
    <div class="jumbotron">
        <h2 class="display-4">{{ "FIELD_OF_STUDY"|trans }}</h2>
    <hr class="my-4">

    <div class="table-responsive">
                <table class="admin-main__table-show table table-stripped">

            <thead>
            <tr class="table-active">
                <th>{{ "ID"|trans }}</th>
                <th>{{ "NAME"|trans }}</th>
                <th>{{ "MODE"|trans }}</th>
                <th>{{ "DEGREE"|trans }}</th>
                <th>{{ "YEAR"|trans }}</th>
                <th>{{ "LANGUAGE"|trans }}</th>
            </tr>
            </thead>

            <tbody class="admin-main__table-body">
                <tr>
                    <td>{{ fieldOfStudy.id }}</td>
                    <td>{{ fieldOfStudy.name }}</td>
                    <td>{{ fieldOfStudy.mode|trans }}</td>
                    <td>{{ fieldOfStudy.degree }}</td>
                    <td>{{ fieldOfStudy.year }}</td>
                    <td>{{ fieldOfStudy.language }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="button button__row-list button__right">

        <a href="{{ path('field-of-study_index') }}" class="btn btn-dark">{{ "BACK_TO_THE_LIST"|trans }}</a>
 
        <a href="{{ path('field-of-study_edit', { 'id': fieldOfStudy.id }) }}" class="btn btn-primary">{{ "EDIT"|trans }}</a></button>
   
        {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    </div>
    </div>
</div>
{% endblock %}
