{% extends 'base.html.twig' %}

{% block body %}

<div class="admin-main container">

    <div class="jumbotron">
       
          <h2 class="display-4">{{ "SEMESTER_LIST"|trans }}</h2>
          <p class="lead">{{ "CHOOSE_THE_ACTION_YOU_WANT_TO_TAKE"|trans }}</p>
          <hr class="my-4">

        <div class="table-responsive">
            <table class="admin-main__table-show table table-stripped">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ "ID"|trans }}</th>
                        <th>{{ "YEAROFSTUDY"|trans }}</th>
                        <th>{{ "TYPE"|trans }}</th>
                        <th>{{"FIELD_OF_STUDY_TYPE"|trans  }}</th>
                        <th>{{ "ACTIONS"|trans }}</th>
                    </tr>
                </thead>
                <tbody class="admin-main__table-body">
                {% for semester in semesters %}
                    <tr>
                        <td>
                            <a href="{{ path('semester_show', { 'id': semester.id }) }}">{{ semester.id }}</a>
                        </td>
                        <td>{{ semester.yearOfStudy }}</td>
                        <td>{{ semester.type|trans }}</td>
                        <td>{{ semester.fieldOfStudy }}</td>
                        <td class="icons">

                            <a href="{{ path('semester_show', { 'id': semester.id }) }}">
                                <i class="fa fa-eye icon icon__show" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('semester_edit', { 'id': semester.id }) }}">
                                <i class="fa fa-pencil-square-o icon icon__edit" aria-hidden="true"></i>
                            </a>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        
        <div class="button button__right">
            <a href="{{ path('semester_new') }}" class="btn btn-primary" role="CREATE">{{ "ADD"|trans }}</a>
        </div>
         
    </div>


</div>
{% endblock %}
