{% extends 'base.html.twig' %}

{% block body %}
<div class="admin-main container">
    <div class="jumbotron">
        <h2 class="display-4">{{ "SEMESTER"|trans }}</h2>
    <hr class="my-4">    
    <div class="table-responsive">
        <table class="admin-main__table-show table table-stripped">
            <thead class="admin-main__table-head thead-dark">
            <tr class="table-active">
                <th>{{ "ID"|trans }}</th>
                <th>{{ "YEAR_OF_STUDY"|trans }}</th>
                <th>{{ "TYPE"|trans }}</th>
                <th>{{ "FIELDOFSTUDYTYPE"|trans }}</th>
            </tr>
            </thead>
            <tbody class="admin-main__table-body">
                <tr>
                    <td>{{ semester.id|trans }}</td>
                    <td>{{ semester.yearOfStudy }}</td>
                    <td>{{ semester.type }}</td>
                    <td>{{ semester.fieldOfStudy }}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="button button__row-list button__right">
            <a href="{{ path('semester_index') }}" class="btn btn-dark">{{ "BACK_TO_THE_LIST"|trans }}</a>
    
            <a href="{{ path('semester_edit', { 'id': semester.id }) }}" class="btn btn-primary">{{ "EDIT"|trans }}</a>
    
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
