{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin-main container">

    <div class="jumbotron">
        <h2 class="display-3">{{ "DEGREE"|trans }}</h2>
        <hr class="my-4">
        <div class="table-responsive">
            <table class="admin-main__table table table-hover table-stripped">
                <thead class="admin-main__table-head thead-dark">
                <tr class="table-active">
                    <th>{{ "NAME"|trans }}</th>
                    <th>{{ "ID"|trans }}</th>
                    <th>{{  'ENABLED'|trans }}</th>
                    <th>{{ "CREATEDAT"|trans }}</th>
                    <th>{{ "MODIFIEDAT"|trans }}</th>
                </tr>
                </thead>
                <tbody class="admin-main__table-body">
                    <tr>
                        <td>{{ degree.name }}</td>
                        <td>{{ degree.id }}</td>
                        <td>{% if degree.enabled %}Yes{% else %}No{% endif %}</td>
                        <td>{% if degree.createdAt %}{{ degree.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if degree.modifiedAt %}{{ degree.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button button__row-list button__right">
            <a href="{{ path('degree_index') }}" class="btn btn-dark">{{ "BACK_TO_THE_LIST"|trans }}</a>
        
            <a href="{{ path('degree_edit', { 'id': degree.id }) }}" class="btn btn-primary">{{ "EDIT"|trans }}</a>
    
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </div>

    </div>
    </div>
{% endblock %}
